:root {

    /* THEME COLORS */
    --theme-color-1: #3eb1c8;
    --theme-color-2: #ffc72c;
    --theme-color-3: #ef3340;
    --theme-color-4: #4f5858;

    /* APP COLORS */
    --bg-color: #4f5858;
    --font-color: #555;

}